@media screen and (1185px <= width <= 2560px) {
    .places-img{
        width: 635px;
    }
    .places-text{
        width: 580px;
    }
}
@media screen and (426px <= width <= 769px) {
    .nav-links{
        position: absolute;
        width:100%;
        padding-bottom: 3%;
        top: -100%;
        left: 0;
        justify-content: center;
        background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255,255,255,0.4));
    }
    .hamburger{
        display: block;
    }
    .nav-links.active{
        top: 0;
    }
    .nav-links ul{
        flex-direction: column;
        gap: 30px;
    }
    nav{
        justify-content: space-between;
    }
    nav a img{
        width: 110px;
    }
    nav a i{
        font-size: x-large;
        color: var(--primary-color);
    }
    nav a{
        z-index: 2;
    }
    .head-text{
        max-width: 60%;
        min-width: 65%;
        bottom: 25px;

    }
    .places-items{
        gap: 50px;
    }
}


@media (426px <= width <= 685px) {
    .places-items{
        flex-direction: column;
        gap: 20px;
    }   
}


@media screen and (374px <= width <= 426px) {
    .nav-links{
        position: absolute;
        width:100%;
        padding-bottom: 3%;
        top: -100%;
        left: 0;
        justify-content: center;
        background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255,255,255,0.4));
    }
    .nav-links.active{
        top: 0;
    }
    .nav-links ul{
        flex-direction: column;
        gap: 30px;
    }
    .hamburger{
        display: block;
    }
    nav{
        justify-content: space-between;
    }
    nav a img{
        width: 110px;
    }
    nav a i{
        font-size: x-large;
        color: var(--primary-color);
    }
    nav a{
        z-index: 2;
    }
    .head-text{
        max-width: 60%;
        min-width: 75%;
        bottom: 55px;
    }
    .coop{
        max-height:250px ;
    }
    .places-items{
        flex-direction: column;
        gap: 20px;
    }   
    
}



@media screen and ( 315px <= width <= 374px) {
    nav{
    width: 95%;
    }
    nav img{
        width: 130px;
    }
    .nav-links{
        position: absolute;
        width:100%;
        padding-bottom: 3%;
        top: -100%;
        left: 0;
        justify-content: center;
        background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255,255,255,0.4));
    }
    .nav-links.active{
        top: 0;
    }
    .nav-links ul{
        flex-direction: column;
        gap: 30px;
    }
    .hamburger{
        display: block;
    }
    nav{
        justify-content: space-between;
    }
    nav a img{
        width: 110px;
    }
    nav a i{
        font-size: x-large;
        color: var(--primary-color);
    }
    nav a{
        z-index: 2;
    }
    .head-text{
        max-width: 70%;
        min-width: 85%;
        bottom: 55px;
    }
    .places-items{
        flex-direction: column;
        gap: 20px;
    }   
}
